
@{
    ViewBag.Title = "VistaTarea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        #tablaTareas {
            border-collapse: collapse;
            width: 100%;
        }

            #tablaTareas th, #tablaTareas td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            #tablaTareas th {
                background-color: #f2f2f2;
            }

            #tablaTareas tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #tablaTareas tr:hover {
                background-color: #ddd;
            }

            /* Alineación de los botones en cada fila */
            #tablaTareas .btn {
                margin-right: 5px; /* Espacio entre botones */
            }

            /* Ajuste de z-index para que los botones no se superpongan con el contenido de la fila */
            #tablaTareas .show-control {
                z-index: 2;
            }
    </style>
</head>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Nueva Tarea
</button>

<!-- Modal  de actividades-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Tarea</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="modalForm">

                    <div class="card-body">
                        <div class="form-group">
                            <label for="nombreTarea">Nombre de la Tarea</label>
                            <input class="form-control" id="nombreTarea" name="nombreTarea" placeholder="Ingrese el nombre de la tarea" required></input>
                        </div>

                        <div class="form-group">
                            <label for="descripcionT">Descripción de la Tarea</label>
                            <input class="form-control" id="descripcionT" name="descripcionT" placeholder="Ingrese una descripción de la tarea" required></input>
                        </div>

                        <div class="form-group">
                            <label for="fechaIniT">Fecha de Inicio</label>
                            <input type="date" class="form-control" id="fechaIniT" name="fechaIniT" required>
                        </div>
                        <div class="form-group">
                            <label for="fechaFinT">Fecha de Finalización</label>
                            <input type="date" class="form-control" id="fechaFinT" name="fechaFinT" required>
                        </div>
                    </div>
                    <div class="alert alert-danger" id="alerta" style="display: none;"></div>
                    <!-- /.card-body -->


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Tarea</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="modalForm" method="post">

                    <div class="card-body">
                        <div class="form-group">
                            <label for="nombreTarea">Nombre de la Tarea</label>
                            <input type="text" class="form-control" id="nombreTarea1" name="nombreTarea1" placeholder="Ingrese el nombre de la tarea" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcionT">Descripción</label>
                            <textarea class="form-control" id="descripcionT1" name="descripcionT1" placeholder="Ingrese una descripción de la tarea" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="fechaIniT">Fecha de Inicio</label>
                            <input type="date" class="form-control" id="fechaIniT1" name="fechaIniT1" required>
                        </div>
                        <div class="form-group">
                            <label for="fechaFinT">Fecha de Finalización</label>
                            <input type="date" class="form-control" id="fechaFinT1" name="fechaFinT1" required>
                        </div>
                        <div class="alert alert-danger" id="alerta1" style="display: none;"></div>
                        <input type="hidden" id="editIdTarea" value="">
                        <input type="hidden" id="editNombreTarea" value="">
                        <input type="hidden" id="editDescripcionT" value="">
                        <input type="hidden" id="editFechaIniT" value="">
                        <input type="hidden" id="editFechaFinT" value="">

                    </div>

                    <!-- /.card-body -->


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" onclick="Editar()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- Agregar este modal en tu vista -->
<div class="modal fade" id="asignacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Asignar Tarea</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="asignacionForm">

                    <div class="form-group">
                        <label for="correoUsuario">Correo Electrónico del Usuario</label>
                        <input class="form-control" id="correoUsuario" name="correoUsuario" placeholder="Ingrese el correo del usuario" required></input>
                        <input type="hidden" id="asigIdTarea" value="">
                    </div>
                    <button type="button" class="btn btn-primary" onclick="BuscarUsuario()">Buscar</button>

                    <!-- Agregar un div para mostrar los datos del usuario encontrado -->
                    <div id="datosUsuario" style="display: none;">
                        <h5></h5>
                        <h5>Datos del Usuario:</h5>
                        <p><strong>Nombre:</strong> <span id="nombreUsuario"></span></p>
                        <p><strong>Apellido:</strong> <span id="apellidoUsuario"></span></p>
                        <p><strong>Correo Electrónico:</strong> <span id="correoEncontrado"></span></p>
                    </div>

                </form>
                <div id="mensajeError" class="alert alert-danger m-2" style="display: none;"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="btnAsignar" class="btn btn-primary" onclick="AsignarTarea()" disabled>Asignar</button>
            </div>
        </div>
    </div>
</div>



<div class="card mt-4">
    <div class="card-header">
        <h3 class="card-title">Lista de Tareas</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-3">
        <table id="tablaTareas">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Finalización</th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
    <!-- /.card-body -->
</div>

@section scripts {
    <script>
        var tablaTarea;
        var info;
        var idAct = GetURLParameter('idActividad');
        function GetURLParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    console.log(sParameterName[1]);
                    return sParameterName[1];
                }
            }
            return null;
        }
        function BuscarUsuario() {

            var correo = $("#correoUsuario").val();
            $("#mensajeError").hide();
            console.log(correo);
            // Realiza una solicitud AJAX para buscar el usuario por correo electrónico
            $.ajax({
                url: "@Url.Action("BuscarUsuarioPorCorreo", "Asignacion")",
                type: "POST",
                data: JSON.stringify({ correoUsuario: correo }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.success) {
                        // Usuario encontrado, muestra sus datos en el modal
                        $("#nombreUsuario").text(data.nombre);
                        $("#apellidoUsuario").text(data.apellido);
                        $("#correoEncontrado").text(data.correo);
                        $("#datosUsuario").show();
                        $("#mensajeError").hide();
                        $("#btnAsignar").prop("disabled", false);
                    } else {
                        // Usuario no encontrado, muestra un mensaje de error
                        $("#datosUsuario").hide();

                        $("#mensajeError").text("Usuario no encontrado.");
                        $("#mensajeError").show("Usuario no encontrado.");

                        // Deshabilita el botón "Asignar" ya que no se ha encontrado un usuario válido
                        $("#btnAsignar").prop("disabled", true);
                    }
                }
            });
        }
        function AsignarTarea() {
            // Obtener los datos necesarios para la asignación, como el ID de la tarea y el ID del usuario

            var tareaId = $("#asigIdTarea").val();// Suponiendo que info contiene el ID de la tarea
            var correo = $("#correoUsuario").val(); // Obtén el correo del usuario encontrado
            $("#mensajeError").hide();
            // Realizar una solicitud AJAX para asignar la tarea
            $.ajax({
                url: "@Url.Action("AsignarTarea", "Asignacion")",
                type: "POST",
                data: JSON.stringify({ idTarea: tareaId, usuarioCorreo: correo }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.success) {
                        // Tarea asignada con éxito, puedes realizar acciones adicionales si es necesario
                        console.log("Tarea asignada con éxito");
                        $("#datosUsuario").hide();
                        $("#correoUsuario").val("");
                        $("#btnAsignar").prop("disabled", true);
                        $("#mensajeError").hide();
                        // Cerrar el modal de asignación
                        $("#asignacionModal").modal("hide");
                    } else {
                        // Ocurrió un error durante la asignación, muestra un mensaje de error
                        $("#mensajeError").text(data.message);
                        $("#mensajeError").show();
                        // Puedes mostrar un mensaje de error al usuario si es necesario
                    }
                }
            });
        }

        function Guardar() {

            console.log(idAct);
            var tarea = {
                nombreTarea: $("#nombreTarea").val(),
                descripcionT: $("#descripcionT").val(),
                fechaIniT: $("#fechaIniT").val(),
                fechaFinT: $("#fechaFinT").val(),
                idAct: {
                    idActividad: idAct
                }
            }

            $.ajax({
                url: "@Url.Action("AgregarTarea", "Tarea")",
                type: "POST",
                data: JSON.stringify(tarea),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.success) {
                        $("#alerta").hide();
                        $("#exampleModal").modal("hide");
                        tablaTarea.ajax.reload();

                    } else {
                        var alerta = $("#alerta");
                        alerta.html(data.message);
                        alerta.show();
                        $("#fechaFinT").val("");
                    }
                }
            });
        }
        function Editar() {


                var tareaEditada = {
                    idTarea: $("#editIdTarea").val(),
                    nombreTarea: $("#nombreTarea1").val(),
                    descripcionT: $("#descripcionT1").val(),
                    fechaIniT: $("#fechaIniT1").val(),
                    fechaFinT: $("#fechaFinT1").val(),
                };

                jQuery.ajax({
                    url: "@Url.Action("EditarTarea", "Tarea")",
                    type: "POST",
                    data: JSON.stringify(tareaEditada),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.success) {
                            $("#alerta").hide();
                            $("#exampleModal2").modal("hide"); // Cierra el modal de edición
                            tablaTarea.ajax.reload();
                        } else {
                            var alerta = $("#alerta1");
                            alerta.html(data.message); // Establece el mensaje del servidor en la alerta
                            alerta.show(); // Muestra la alerta de Bootstrap con el mensaje del servidor // Muestra un mensaje de error
                            $("#fechaFinT1").val();
                        }
                    }
                });

        }

        $(document).ready(function () {
            $('#modalForm').submit(function () {
                // Obtiene los valores de las fechas de inicio y finalización
                var fechaIniT = new Date($('#fechaIniT').val());
                var fechaFinT = new Date($('#fechaFinT').val());
                var fechaIniT1 = new Date($('#fechaIniT1').val());
                var fechaFinT1 = new Date($('#fechaFinT1').val());

                // Comprueba si la fecha de finalización es menor que la fecha de inicio
                if (fechaFinT < fechaIniT) {
                    // Muestra un mensaje de error
                    alert('La fecha de finalización no puede ser anterior a la fecha de inicio.');
                    // Detiene el envío del formulario
                    return false;
                }
                if (fechaFinT1 < fechaIniT1) {
                    // Muestra un mensaje de error
                    alert('La fecha de finalización no puede ser anterior a la fecha de inicio.');
                    // Detiene el envío del formulario
                    return false;
                }
            });
            $('#exampleModal').on('show.bs.modal', function () {
                // Restablecer los campos del modal
                $("#nombreTarea").val("");
                $("#descripcionT").val("");
                $("#fechaIniT").val("");
                $("#fechaFinT").val("");
                $("#alerta").hide();

            });

            tablaTarea = $('#tablaTareas').DataTable({
                responsive: true,
                autoWidth: false,
                ordering: false,
                "ajax": {
                    url: "@Url.Action("ListarTareasPorActividad", "Tarea")" + '?idActividad=' + GetURLParameter('idActividad'),
                    data: function (data) {
                        data = idAct;
                    },
                    type: "GET",
                    dataType: "json",
                },
                "columns": [
                    { "data": "nombreTarea", "type": "auto" },
                    { "data": "descripcionT", "type": "auto" },
                    {
                        "data": "fechaIniT",
                        "render": function (data) {
                            // Formatea la fecha antes de mostrarla
                            return new Date(parseInt(data.substr(6))).toLocaleDateString();
                        }
                    },
                    {
                        "data": "fechaFinT",
                        "render": function (data) {
                            // Formatea la fecha antes de mostrarla
                            return new Date(parseInt(data.substr(6))).toLocaleDateString();
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            // Botón de edición en la fila principal de datos
                            var editarBtn = '<button class="btn btn-primary btn-editar" data-idTarea="' + row.idTarea + '"><i class="fas fa-pen"></i></button>';
                            var borrarBtn = '<button class="btn btn-danger btn-borrar" data-idTarea="' + row.idTarea + '"><i class="fas fa-trash"></i></button>';

                            return editarBtn + borrarBtn;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            // Botón de edición en la fila principal de datos
                            var asignarBtn = '<button class="btn btn-info btn-asignar" data-idTarea="' + row.idTarea + '">Asignar</button>';


                            return asignarBtn;
                        }
                    },

                    // Agrega más columnas según tus necesidades
                ],
                "language": {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
                }
            });
            

            $('#tablaTareas tbody').on('click', '.btn-editar', function () {
                var filaSeleccionada = $(this).closest("tr");
                info = tablaTarea.row(filaSeleccionada).data();
                $("#alerta1").hide();
                //elementos ocultos
                $("#editIdTarea").val(info.idTarea);
                $("#editNombreTarea").val(info.nombreTarea);
                $("#editDescripcionT").val(info.descripcionT);
                $("#editFechaIniT").val(info.fechaIniT);
                $("#editFechaFinT").val(info.fechaFinT);

                $("#nombreTarea1").val(info.nombreTarea)
                $("#descripcionT1").val(info.descripcionT)
                var fechaIniT = new Date(parseInt(info.fechaIniT.substr(6)));
                var fechaFinT = new Date(parseInt(info.fechaFinT.substr(6)));


                // Establece los valores de fecha en los campos del modal
                $("#fechaIniT1").val(fechaIniT.toISOString().split('T')[0]);
                $("#fechaFinT1").val(fechaFinT.toISOString().split('T')[0]);

                $("#exampleModal2").modal("show");

            });
            $('#tablaTareas tbody').on('click', '.btn-borrar', function () {
                var userSeleccionado = $(this).closest("tr");
                var info2 = tablaTarea.row(userSeleccionado).data();
                swal({
                    title: "Estas seguro?",
                    text: "Deseas eliminar la tarea?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Si!",
                    cancelButtonText: "No",
                    closeOnConfirm: true
                },
                    function () {

                        jQuery.ajax({
                            url: "@Url.Action("EliminarTarea", "Tarea")",
                            type: "POST",
                            data: JSON.stringify({ idTarea: info2.idTarea }),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                if (data.success) {

                                    // Recargar la tabla después de eliminar el proyecto
                                    tablaTarea.ajax.reload();
                                } else {
                                    swal("Error", "Error al eliminar la tarea: " + data.message, "error");
                                }
                            }
                        });

                    });

            });
            $('#tablaTareas tbody').on('click', '.btn-asignar', function () {
                var filaSeleccionada = $(this).closest("tr");
                info = tablaTarea.row(filaSeleccionada).data();
                $("#alerta1").hide();
                $("#mensajeError").hide();
                $("#correoUsuario").val("");
                //elementos ocultos
                console.log(info.idTarea);
                $("#asigIdTarea").val(info.idTarea);


                $("#asignacionModal").modal("show");
            });

        });


    </script>
}


